body {
  min-height: 100vh;
  display: flex;
  background-color: #000000;
  user-select: none;
  justify-content: center;
}
section {
  height: 100%;
  width: 480px;
}
header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 20%;
  rotate: 15deg;
}
h4 {
  color: white;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
}
.title {
  color: white;
  margin: 20px;
}
.paragraph {
  color: rgb(204, 202, 202);
  font-size: 14px;
  margin: 20px;
  text-align: justify;
}
.accordion {
  width: 400px;
  font-size: 14px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#table-body {
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 10px;
}

th {
  width: 1rem;
  background-color: #f2f2f2;
}

tbody {
  font-family: "Poppins", sans-serif;
}

.country-counter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
